.mapboxgl-popup-content {
	white-space: normal;
}
.mapboxgl-popup-content {
	width: 175px;
}
.App .mapboxgl-popup-content h3 {
	font-size: 1rem;
	margin: 0;
}

.App .mapboxgl-popup-content .prov-name{
	color: var(--grey03);
	font-size: 0.85rem;
	margin: -3px 0 5px 0;
	/*text-transform: uppercase;*/
}
.App .mapboxgl-popup-content p {
	margin: 3px 0;
	line-height: 1.35;
}
